

# Logs
Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências e Builds
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de Ambiente
.env
.env.development
.env.test
.env.production

# Mac system files


# Ignorar pastas dos outros times e do projeto
/database
/docs
/validation
/README.md
db.sql
